version: '3.8'
services:
  frontend:
    container_name: movimentation-frontend
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - "8080:80"
    restart: unless-stopped
    environment:
      - API_BASE_URL=http://100.113.154.3:3000/api/
    networks:
      - movimentation-network

networks:
  movimentation-network:
    driver: bridge
