version: '3.8'
services:
  frontend:
    container_name: movimentation-frontend
    build:
      context: .
      dockerfile: dockerfile
      args:
        - API_BASE_URL=http://host.docker.internal:3000/api/
    ports:
      - "8080:80"
    restart: unless-stopped
    networks:
      - movimentation-network

networks:
  movimentation-network:
    driver: bridge
